@{ 

}
<div class="bjui-pageContent tableContent">
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true" id="selectButtons">
        <thead>
            <tr>
                <th width="30"><input type="checkbox" class="checkboxCtrl" data-group="btnIds" data-toggle="icheck"></th>
                <th>名称</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var btn in SysButton.None.GetDescriptDict())
            {
                <tr data-id="@btn.Key">
                    <td><input type="checkbox" name="btnIds" value="{Buttons:'@btn.Key', ButtonNames:'@btn.Value'}" data-toggle="icheck" /></td>
                    <td>@btn.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li>
            <button type="button" class="btn-close">关闭</button>
        </li>
        <li>
            <button type="button" class="btn-blue" data-toggle="lookupback" data-lookupid="btnIds" data-warn="请至少选择一个按钮" data-icon="check-square-o">选择选中</button>
        </li>
    </ul>
</div>