
<div class="new-info">
    <ul>
        <li>
            <div class="time"><p>Sep,2016</p><span>9</span></div>
            <div class="new"><a href="#">关于对广西建工集团第五建筑工程有限责任公司、宾阳县华阳建筑工程有限责任公司立即开展在建工程质量安全生产专项检查的通知 —（桂建质安监〔2016〕27号）</a></div>
        </li>
        <li>
            <div class="time"><p>Sep,2016</p><span>9</span></div>
            <div class="new"><a href="#">关于加强房屋建筑工程结构实体钢筋保护层厚度质量控制的通知</a></div>
        </li>
        <li>
            <div class="time"><p>Sep,2016</p><span>9</span></div>
            <div class="new"><a href="#">关于对广西建工集团第五建筑工程有限责任公司、宾阳县华阳建筑工程有限责任公司立即开展在建工程质量安全生产专项检查的通知 —（桂建质安监〔2016〕27号）</a></div>
        </li>
        <li>
            <div class="time"><p>Sep,2016</p><span>9</span></div>
            <div class="new"><a href="#">关于对广西建工集团第五建筑工程有限责任公司、宾阳县华阳建筑工程有限责任公司立即开展在建工程质量安全生产专项检查的通知 —（桂建质安监〔2016〕27号）</a></div>
        </li>
        <li>
            <div class="time"><p>Sep,2016</p><span>9</span></div>
            <div class="new"><a href="#">关于对广西建工集团第五建筑工程有限责任公司、宾阳县华阳建筑工程有限责任公司立即开展在建工程质量安全生产专项检查的通知 —（桂建质安监〔2016〕27号）</a></div>
        </li>
    </ul>

    <div class="more"><a href="#">查看更多<img src="/Res/home/images/icon-down.png" alt=""></a></div>

</div>
