@model DealActivityViewModel


<div class="bjui-pageContent">
    @Html.Partial("ShowSource", Model)
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
    </ul>
</div>

